:root{
    --richBlack:#0B090A;
    --eerieBlack:#161a1d;
    --greyBlack: #222222;
    --bloodRed: #660708;
    --rubyRed: #a4161a;
    --carnelian: #ba181b;
    --imperialRed: #e5383b;
    --brightfuckingred: #ff002b;
    --silverChalice: #b1a7a6;
    --lightGray: #d3d3d3;
    --cutltured: #f5f3f4;
    --white: #ffffff;
   
}
/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Roboto:wght@100;300;400&display=swap');

*,
*::before,
*::after {
 box-sizing:border-box;
}
body:not(.loaded) #sliderShow img {
  display:none;
}
body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../imgs/slideshow/multi-cloud.png);
}

#slideShow{
width:100%;
height: 100%;
overflow-x:hidden;
background-attachment: cover;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-position: center center;
background-size: cover;
backface-visibility: hidden;
-webkit-backface-visibility: hidden;
-webkit-animation: slideShow ease-in-out 25s both infinite;
-moz-animation: slideShow ease-in-out 25s both infinite;
-o-animation: slideShow ease-in-out 25s both infinite;
animation: slideShow ease-in-out 25s both infinite;
background-repeat: no-repeat;
background-image: url(../imgs/slideshow/multi-cloud.png), url(../imgs/slideshow/multi-cloud.png);
}
@keyframes slideShow{
  0% {
    background-image: url(../imgs/slideshow/multi-cloud.png), url(../imgs/slideshow/cloud.jpg)
  }
  20%{
    background-image: url(../imgs/slideshow/cloud.jpg), url(../imgs/slideshow/multi-cloud.png)
  }
  35%{
    background-image: url(../imgs/slideshow/multi-cloud.png), url(../imgs/slideshow/shared-workspace.jpg)
  }
  50%{
    background-image: url(../imgs/slideshow/shared-workspace.jpg), url(../imgs/slideshow/shared-workspace.png)
  }
  65% {
    background-image: url(../imgs/slideshow/shared-workspace.png), url(../imgs/slideshow/workfromhome1.png)
  }
  80% {
    background-image: url(../imgs/slideshow/workfromhome1.png), url(../imgs/slideshow/coms.png)
  }
  100% {
    background-image: url(../imgs/slideshow/coms.png), url(../imgs/slideshow/multi-cloud.png)
  }
  }
.header {
  max-width: 100%;
  max-height: 100%;
  right:0;
  left:0;
}
h1{
    color:var(--richBlack);
}

nav.navbar {
  margin: auto;
  background-color:rgba(0,0,0,0) !important;
  max-width: 1320px;
  padding-top: 10px !important;
}
.container-fluid {
  width: 100%;
  opacity: 1;
  background-color:rgba(0,0,0,0);
  object-fit: cover;
}
.container-fluid.transparent {
  background-color: #222;
  -webkit-transition: all .5s ease-in-out !important;
  padding-right: 0px !important;
  padding-left: 0px !important;
  width: 100% !important;
  height: 10vh !important;
  position:fixed;
  top:0px;
  z-index: 999;
}
.container-fluid.height.transparent {
  height: 32vh!important;
}

.navbar-brand { 
  overflow: visible;
  width: 20px;
  float: left;
}
.navbar-brand>img {
  max-height: 200px;
  max-width: 200px;
  float: right;
}

.navbar-brand:hover {
  filter: brightness(70%) contrast(90%);
}

.navbar-brand-text {
  font-size: 1.4em;
  letter-spacing: 3px;
  margin-bottom: .25em;
  color: var(--cutltured);
  position: relative;
  display: block;
  text-decoration: none;
  font-weight: 300;
  text-transform: capitalize;
}
  
}
.navbar-brand-text:after {
  position: absolute;
  color: var(--cutltured);
  width: 65%;
  height: 3px;
  top: 100%;
  left: 17%;
  transition: transform 0.05s;
  transform: scaleX(0);
  transform-origin: top;
}
.navbar-nav {
  margin-right: 40px;
}
.navbar-brand-text:hover {  
  text-decoration-color: var(--cutltured);
  filter: brightness(21%) contrast(10%);

}

.nav-bar-brand-text:hover::after {
  transform: scaleX(1);
  transform-origin: bottom;
}

}
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
}
.navbar.transparent.navbar-inverse, 
.navbar-inner {
  background: var(--cutltured,0.4);
}
.navbar-change{
  position:fixed;
  width: 100%;
  padding: 0rem;
  background: var(--cutltured,0.4);
  z-index: 100;

}
.navbar-icon{
  font-size: 1.25em;
  color: var(--cutltured);
}

.navbar-toggler{
  color: none;
  width: 1px;
  height: 1px;
  position: relative;
  transition: .5s ease-in-out;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.nvabar-toggler-icon:focus {
  box-shadow: none;
  outline: none;
  border: 0;
}
.navbar-toggler span {
  margin: 0;
  padding:0;
}
.toggler-icon {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: var(--cutltured);
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: roatate(0deg);
  transition: .25s ease-in-out;
}

.middle-bar {
  margin-top: 0px;
}
.toggled {
  float: right;
}
/* when nav is clicked */
.navbar-toggler .top-bar {
  margin-top: 0px;
  transform: rotate(135deg);
}
.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}
.navbar-toggler .bottom-bar {
  margin-top: 0px;
  transform: rotate(-135deg);
}


/* navbar is collapsed */
.navbar-toggler.collapsed .top-bar {
  margin-top: -8px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  margin-top: 8px;
  transform: rotate(0deg);
}


.nav-item{
  text-align: center;
}
.nav-item:focus,
.nav-item:active {
  padding: 0px;
  margin: 0px;
}
.nav-link {
  font-weight: 100;
  letter-spacing: 2px;
  font-size: .9em;
  padding: 4px 0px;
  margin: 10px 10px;
  color: var(--cutltured);
  text-transform: capitalize;
  position: relative;
  display: block;
  text-decoration: none;
}

.nav-link:after {
  position: absolute;
  color: var(--cutltured);
  content: "";
  width: 65%;
  height: 3px;
  top: 100%;
  left: 17%;
  background: var(--cutltured);
  transition: transform 0.1s;
  transform: scaleX(0);
  transform-origin: top;
}
.nav-link:hover{
  color: var(--cutltured);
}

.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom;
}

.nav-icon{
  font-size: 1.5rem;
  padding: 3px;
  color: var(--cutltured);
  text-decoration: none;
  transition-property: color;
  transition-duration: 0ms;
  transition-timing-function: linear;
}
.nav-icon:hover, .nav-icon:after {
  filter: invert(25%) sepia(100%) saturate(2000%) hue-rotate(214deg) brightness(95%) contrast(95%);
}

.jumbotron {
  padding-top: 3.8em;
  color: var(--cutltured)
}
.jumbotron .container-xxl,.jumbotron h1{
  padding-top: 50vh;
  color:var(--cutltured);
  font-family: 'Merriweather', serif;
  font-size: 2em;
  max-width: 1320px;
 }
 .jumbotron h2 {
  font-size: 1.7em;
 }
 .jumbotron p {
   font-family: Arial, Helvetica, sans-serif;
   max-width: 575px;
 }


.feature.card {
  padding: 1em;
  background-color: var(--greyBlack);
}
.feature.card h3{
  font-family: 'Roboto';
  letter-spacing: 2px;
  font-size: .55em;
  font-weight: 300;
  font-display:
}
.feature .radial svg * {
  fill:url(#rg);
}
.feature .fa-instagram{
  height: 50px;
  width: 50px;
  float: center;
}

.featurefbhref>img{
    max-height: 40px;
    max-width: 40px;
    float: center;
}

.footer .container {
  max-width: 1320px;
}
.footerCerakotehref>img{
  max-height: 200px;
  max-width: 200px;
  float: center;
}


.para {
  font-size: .65em;
}


/*fix for screen sizes */
@media (max-width:1420px), screen and (orientation:portrait) {
section {
  background-attachment:initial;
}
.navbar-brand.transparent {
  margin-right: 0em;
}
.navbar-brand-text{
text-align: right;
margin: 15px;
}
.navbar-text {
  float: right;
}
nav.navbar {
  margin: auto;
  max-width: 700px;
}
.navbar-brand {
  position: relative;
  float: none;
  margin-left: 15px;
}

.nav-icon{
  padding: 0px;
}
div{position:relative;}
}
/*fix for collapsed menu on small width protrait screens */
@media (max-width:767px) {
nav.navbar {
  margin:auto;
}
.navbar-brand > img {
  position: relative;
  float:left;
}

.navbar-toggler {
    margin-right: 3vh;
    padding: auto;
}

 .navbar-brand-text {
   text-align: center;
    padding: 0px 0px 0px 20px;
  }
 .nav-link {
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 400;
  letter-spacing: 4px;
  font-size: .55em;
  padding: 0px 0px;
  margin: 10px 10px;
  color: var(--cutltured);
  text-transform: capitalize;
  position: relative;
  display: block;
  text-decoration: none;
 }
 .nav-link:after {
  position: absolute;
  color: var(--cutltured);
  content: "";
  width: 65%;
  height: 3px;
  top: 100%;
  left: 17%;
  background: var(--cutltured);
  transition: transform 0.1s;
  transform: scaleX(0);
  transform-origin: top;
 }
 .nav-link:hover{
  color: var(--cutltured);
}


.nav-link:hover::after {
  transform: scaleX(.20);
  transform-origin: bottom;
}
.navbar-nav {
  margin:auto;
}

.nav-icons {
  text-align: center;
  color: var(--cultured);
  margin: 0em;
  padding: .05em;
  font-size: 2em;
  transition:all 2s ease-in-out;
  transition-delay: 1ms;
  transition-duration: 20ms;
}
.nav-icon:hover, .nav-icon:after {
  filter: brightness(35%) contrast(95%);
}
.jumbotron .container-xxl, .jumbotron h1{
  padding-top: 40vh;
  color:var(--cutltured);
  font-family: 'Merriweather', serif;
  font-size: 1.35em;
}
.container-xxl h2{
  text-align: left !important;
}
.jumbotron h2 {
  font-size: 1.35em;
  text-align: left;
}
.jumbotron p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: .7em;
  max-width: 575px;
}
.fa-tiktok {
  color: var(--darkblack);
  filter: drop-shadow(-.05em -0.1rem 0.05em rgba(20, 100, 100, 1)) drop-shadow(0.05em 0.1rem 0.05em rgba(220, 39, 67, 0.9));
}
.push{
  transition: ease-in-out all .2s;
  padding-top: 202px;
}

.pushUp{
  transition: ease-in-out all .2s;
  padding-top: 0px;
}